{
  "globals": {
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "arrowFunctions": true,
      "binaryLiterals": true,
      "blockBindings": true,
      "classes": true,
      "defaultParams": true,
      "destructuring": true,
      "forOf": true,
      "generators": true,
      "modules": true,
      "objectLiteralComputedProperties": true,
      "objectLiteralDuplicateProperties": true,
      "objectLiteralShorthandMethods": true,
      "objectLiteralShorthandProperties": true,
      "octalLiterals": true,
      "regexUFlag": true,
      "regexYFlag": true,
      "restParams": true,
      "spread": true,
      "superInFunctions": true,
      "templateStrings": true,
      "unicodeCodePointEscapes": true,
      "globalReturn": false,
      "jsx": false
    }
  },
  "rules": {
    "camelcase": [
      2,
      {
        "properties": "always"
      }
    ],
    "comma-dangle": [2, "never"],
    "comma-spacing": [
      2, {
        "before": false,
        "after": true
      }
    ],
    "complexity": [1, 7],
    "constructor-super": 0,
    "curly": 2,
    "eol-last": 2,
    "eqeqeq": 2,
    "generator-star-spacing": 2,
    "id-length": [
      2,
      {
        "min": 3,
        "properties": "always"
      }
    ],
    "indent": [
      2, 4,
      {
        "SwitchCase": 1
      }
    ],
    "linebreak-style": [2, "unix"],
    "max-depth": [2, 5],
    "max-params": [2, 6],
    "max-statements": [2, 30],
    "new-cap": 1,
    "no-alert": 2,
    "no-cond-assign": [2, "always"],
    "no-console": 0,
    "no-const-assign": 2,
    "no-empty": 2,
    "no-ex-assign": 2,
    "no-extra-semi": 2,
    "no-extra-strict": 0,
    "no-mixed-spaces-and-tabs": 2,
    "no-multi-str": 2,
    "no-nested-ternary": 2,
    "no-octal": 2,
    "no-plusplus": 2,
    "no-shadow": 2,
    "no-sparse-arrays": 2,
    "no-this-before-super": 0,
    "no-undef": 2,
    "no-underscore-dangle": 2,
    "no-unreachable": 2,
    "no-var": 2,
    "object-shorthand": [2, "never"],
    "one-var": [2, "always"],
    "prefer-const": 2,
    "quotes": [2, "single"],
    "radix": 2,
    "require-yield": 2,
    "semi": [2, "always"],
    "valid-typeof": 2,
    "vars-on-top": 2,
    "yoda": [2, "always"]
  }
}